@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

a.nostyle {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.page-title {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}